.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.uppercase {
  text-transform: uppercase;
}
.semibold {
  font-weight: bolder;
}
.space-between {
  justify-content: space-between;
}
.mx-2 {
  margin-left: 12px;
  margin-right: 12px;
}
.vaibhav{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;}
.flexwrap{
  flex-wrap: wrap;
}